html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.message-right {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
}

.message-left {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
}

.header-layout {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 360px;
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e05263;
  color: #ffffff;
  border-radius: 16px;
  width: 496px;
  height: 240px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.main-layout {
  display: flex;
  justify-content: center;
  align-items: start;
}

.main-branch {
  padding: 108px 0;
  margin-bottom: 32px;
  border-radius: 0 0 32px 32px;
  background-color: #659147;
  width: 14px;
  height: 1000px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 180px;
}

.sub-branch {
  position: relative;
  width: 420px;
  height: auto;
}

.branch-right,
.branch-left {
  background-color: #a1c084;
  position: absolute;
  width: 420px;
  height: 10px;
}

.branch-right {
  right: -50%;
  display: flex;
  justify-content: end;
}

.branch-left {
  right: 50%;
  display: flex;
}

.branch-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.contents-leaf {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 240px;
  height: 180px;
  border-radius: 32px;
  background-color: #eeeece;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

.branch-right .contents-leaf {
  transform: translate(-75%, -50%);
  right: -100%;
  top: 50%;
}

.branch-left .contents-leaf {
  transform: translate(75%, -50%);
  left: -100%;
  top: 50%;
}

.contents-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  right: -200%;
  display: flex;
}

.contents-layout section {
  padding: 64px;
  width: calc(100vw - 128px);
  height: calc(100vh - 128px);
  position: relative;
  flex-shrink: 0;
}

.right-box,
.left-box {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  opacity: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-box {
  right: 2%;
}

.left-box {
  left: 2%;
}

.root-layout {
  height: 1300px;
  background-color: #bd9881;
  border: 20px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.soil-top {
  position: absolute;
  height: 100px;
  background-color: #bd9881;
  z-index: -1;
  width: 100%;
  top: -100px;
}

.stone-end {
  justify-self: end;
}

.stone-mid {
  justify-self: center;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  background-color: #939393;
  width: 100%;
  gap: 4px;
}

.img-25 {
  width: 25%;
}

.img-50 {
  width: 50%;
}

.img-75 {
  width: 75%;
}

.img-125 {
  width: 125%;
}

.div-flex {
  display: flex;
}

.block-flex {
  display: flex;
  align-items: center;
}

.img-box {
  text-align: center;
  font-size: 12px;
}
