* {
  font-family: 'Diphylleia', serif;
  font-weight: 400;
  font-style: normal;
}
.title {
  font-size: 48px;
}

.body-large {
  font-size: 36px;
}

.body-medium {
  font-size: 32px;
}

.body-small {
  font-size: 24px;
  font-weight: 900;
}

.contents {
  font-size: 20px;
}

.contents-default {
    font-size: 16px;
}

.badge-js {
  background-color: #f0db4f;
  color: #323330;
}

.badge-ts {
  background-color: #007acc;
  color: #ffffff;
}

.badge-cpp {
  background-color: #5e97d0;
  color: #ffffff;
}

.badge-react {
  background-color: #61dbfb;
}

.badge-next {
  background-color: #ffffff;
}

.badge-node {
  background-color: #68a063;
  color: #303030;
}

.badge-hot {
  background-color: #f74242;
  color: #ffffff;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-0 {
  margin: 0;
}
